* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}

body {
    background-color:rgb(192, 192, 255);
    background: url(../images/qev35eqa3q481.png); 
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
}


#container {
    width: 1100px;
    margin: 0 auto;
    border: solid 5px #000000;
}

#header {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(255, 167, 214);
    background: url(../images/883a187b70db23b0987fd4ce0d833015.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header #pIMG {
    object-fit: contain;   
    left: 4cm; 
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 50%;
    border: 5px dotted rgb(169, 168, 168);
}

#header img:hover{
    transition: 0.90s;
    transform: rotate(360deg);
}

#header h1 {
    font-size: 2cm;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
    color: rgb(134, 124, 124);
}

#header p {
    color: #8f8f8f;
    position: absolute;
    text-align: right;
    font-size: 90px;
    left: 660px;
    top: 20px;
}

#content {
    padding-left: 38px;
    padding-right: 38px;
     background: linear-gradient(124deg, #3e0000, #4a0000, #520000, #6d0000, #740101, #960000, #a90000, #e40000, #ff0000);
      background-size: 1800% 1800%;
      
      -webkit-animation: rainbow 18s ease infinite;
      -z-animation: rainbow 18s ease infinite;
      -o-animation: rainbow 18s ease infinite;
        animation: rainbow 18s ease infinite;}
      
      @-webkit-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-moz-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @-o-keyframes rainbow {
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      }
      @keyframes rainbow { 
          0%{background-position:0% 82%}
          50%{background-position:100% 19%}
          100%{background-position:0% 82%}
      } ;


#content h2 {
    text-align: left;
    font-size: 4ch;
}

#content #intro {
    padding-top: 35px;
    font-size: 2ch;
}

#content #overig {
    padding-top: 20px;
    font-size: 2ch;
}

#content #kennis {
    padding-top: 30px;
    text-align: left;
    font-size: 2ch;
}

#content #kennis ul {
    padding-left: 25px;
    padding-top: 10px;
}

#experimental {
    text-align: left;
    height: 500px;
    padding: 50px;
    border: 5px solid #000;
}

#experimental #pimg {
    border: 3px;
}

#experimental h2 {
    text-align: center;
    }

#experimental p {
    position: absolute;
    left: 470px;
    top: 23.2cm;
    font-size: 23px;
}

#ozzy {
    position: absolute;
    left: 252px;
    top: 835px;
    border-bottom-right-radius: 30%;
}

#alice {
    position: absolute;
    left: 967px;
    top: 1267px;
    border-top-left-radius: 30%;
}

#arrow1 {
    position: absolute;
    left: 470px;
    top: 900px;
}

#arrow2 {
    position: absolute;
    transform: rotate(270deg);
    left: 1100px;
    top: 1220px;
}

#foto1 {
    position: absolute;
    left: 31.1cm;
    top: 20.4cm;
}

#foto4 {
    position: absolute;
    left: 8cm;
    top: 25cm;
}

#foto3 {
    position: absolute;
    left: 8cm;
    top: 32.5cm
}

#foto5 {
    position: absolute;
    left: 8cm;
    top: 36cm;
}

#foto6 {
    position: absolute;
    left: 28cm;
    top: 27cm;
}
.videoYouTube {
    margin-left:150px;
    margin-top: 200px;
}

#experimental {
    background: url(../images/carti\ 2.jpg);
    background-color: #476C9B;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 50px;
}

#video {
    position: absolute;
    left: 600px;
    top: 1000px;
}

#experimental h2 {
    text-align: right;
    font-size: 0.8cm;
}

#footer {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}