* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace
}

body {
    background-color:rgb(192, 192, 255);
    background: url(qev35eqa3q481.png);
    background-size: contain;
    background-position: left;
    background-repeat: repeat;
}

#container {
    width: 1000px;
    margin: 0 auto;
    border: 10px solid #b1f3f7;
}

#header {
    text-align: left;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #fcc7ff;
}

#header #pIMG {
    object-fit: contain;    
    width: 250px;
    height: 250px;
    margin-left: 50px;
    margin-right: auto;
    border-radius: 40%;
    border: 10px solid rgb(192, 192, 255);
}

#header img:hover{
    transition: 0.90s;
    transform: rotate(360deg);
}

#header h1 {
    font-size: 2cm;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-top: 20px;
    margin-right: 25px;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

#content {
    background-color: #ADD9F4;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: left;
    font-size: 4ch;
}

#content #intro {
padding-top: 20px;
font-size: 2ch;
}
#content #overig {
padding-top: 20px;
font-size: 2ch;
}
#content #kennis {
padding-top: 20px;
text-align: left;
font-size: 2ch;
}
#content #kennis ul {
    padding-left: 25px;
}

#experimental {
    text-align: center;
    background-color: #476C9B;
    height: 500px;
    padding: 50px;
}

#experimental #pimg {
    border: 3px;
}

#experimental h2 {
    text-align: left;
}

#experimental h2 #pimg {
    text-align: center;
}

#experimental {
    background-color: #476C9B;
    height: 500px;
    padding: 50px;
}
#experimental h2 {
    text-align: right;
    font-size: 0.9cm;
}

#footer {
    text-align: center;
}